.block1 {
	width: 200px;
	height: 200px;	
	border: solid 3px purple;
}
.bg-cyan {
	background-color: cyan;
	
}
.bg-red {
	background-color: red;
}
.block2 ul li a:hover{
	color: black;

}
.block3 {
	width: 200px;
	height: 200px;
	background: url('../img/1.jpg') no-repeat;
	background-size: 200px 200px;
	border: solid 3px purple;
	float:left;
}